.custom-modal-style {
  width: 100%;
  height: 802px;
}

.font-custom-size {
  font-size: 20px;
}

.ck-editor__editable {
  min-height: 200px;
}
.addandselect {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/*Heading*/
.heading {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgb(218, 247, 218);
  min-width: 1260px;
}
.action {
  flex: 0 0 310px;
  color: black;
  font-weight: bolder;
}
.order{
  flex: 0 0 70px;
  color: black;
  font-weight: bolder;
}
.content{
  flex: 0 0 250px;
  color: black;
  font-weight: bolder;
}
.status{
  flex: 0 0 70px;
  color: black;
  font-weight: bolder;
}
.createdat{
  flex: 0 0 150px;
  color: black;
  font-weight: bolder;
}
.updatedat{
  flex: 0 0 150px;
  color: black;
  font-weight: bolder;
}
.listorder{
  flex: 0 0 150px;
  color: black;
  font-weight: bolder;
}
.answers{
  flex: 0 0 150px;
  color: black;
  font-weight: bolder;
}

/*Contents*/

.contents {
  display: flex;
  justify-content: space-between;
  min-width: 1260px;
}

.ordercontent{
  flex: 0 0 70px;
  height: 100px;
}
.contentcontent{
  flex: 0 0 250px;
  height: 100px;
  overflow-x: scroll;
}
.statuscontent{
  flex: 0 0 70px;
  height: 100px;
}
.createdatcontent{
  flex: 0 0 150px;
  height: 100px;
}
.updatedatcontent{
  flex: 0 0 150px;
  height: 100px;
}
.listordercontent{
  flex: 0 0 150px;
  height: 100px;
}
.answerscontent{
  flex: 0 0 150px;
  height: 100px;
}
.actioncontent{
  flex: 0 0 310px;
  height: 100px;
}
.scroller {
  overflow-x: scroll;
}
.contentcontent::-webkit-scrollbar {
  display: none;
}
