.ck-editor__editable {
  min-height: 200px;
}
.limitcontent {
  width: 400px;
  height: 80px;
  overflow-y: scroll;
}
.limitsummary {
  width: 300px;
  height: 80px;
  overflow-y: scroll;
}
.limitcategory,
.limittag {
  width: 100px;
  height: 80px;
  overflow-y: scroll;
}
.limitdates {
  width: 180px;
}
.limitinfo {
  width: 100px;
}
.limitbutton {
  width: 300px;
}
.limitquestion_recom {
  width: 150px;
  height: 80px;
  overflow-y: scroll;
}
.limittitle {
  width: 200px;
  height: 80px;
  overflow-y: scroll;
}
.recom:hover {
  cursor: pointer;
  color: black;
}
.limitcontent::-webkit-scrollbar,
.limitsummary::-webkit-scrollbar,
.limitcategory::-webkit-scrollbar,
.limittag::-webkit-scrollbar,
.limittitle::-webkit-scrollbar,
.limitquestion_recom::-webkit-scrollbar {
  display: none;
}
.filter {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.scroller {
  overflow-x: scroll;
}
.headingSort {
  border: none;
  margin-bottom: 15px;
  height: 5px;
  font-size: 14px;
}
