
.filter {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.scroller {
  overflow-x: scroll;
}
.headingSort {
  border: none;
  margin-bottom: 15px;
  height: 5px;
  font-size: 14px;
}
